@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
        height: 250px;
        padding-top: 100px;
        gap: 20px;
        box-shadow: none;
    }
    
    .menu{
        flex-direction: column;
    }
    
    /* banner starts here */
    .banner{
        flex-direction: column;
        gap: 2rem;
        background-size: 90%;
        background-position-y: 10%;
        background-size: 110%;
        transform: scale(0.8);
    }
    .banner-description{
        transform: scale(0.8);
        padding-top: 20px;
    }
    .banner-image img{
        width: 70%;
        margin-left: 15%;
    }
    /* about section starts here */
.gamer{
    flex-direction: column-reverse;
    gap: 0;
}
.gamer img{
    width: 100%;
}
.gamer-about{
    text-align: center;
    transform: scale(0.8);
}
.gamer-about-description{
    line-height: normal;
    font-size: 15px;
}
.slogan{
    font-size: 25px;
}
/* game video section starts here */
.game-video-description{
    padding-top: 3.5rem;
    transform: scale(0.8);
}
.image-cards{
    flex-direction: column;
    align-items: center;
}
.card > p{
    padding: 10px 0px;
    font-size: 0.8rem;
    text-align: center;
}
.play-text{
    padding-top: 10px;
}

/* Play now starts here */

.play-now{
    flex-direction: column-reverse;
    gap: 0px;
    justify-content: space-between;
    margin-bottom: -80px;
}
.play-now-image{
    transform: scale(0.4);
    margin-left: 10px;
    position: relative;
    left: 0px;
}
.play-now-text{
    text-align: center;
    margin-top: 30px;
   height: 90px;
}
.play-now-text>h1{
    font-size: 2rem;
    line-height: 40px;
    margin-bottom: 1.2rem;
}
.play-now-text>p{
    font-size: 1rem;
}

/* game type section starts here */
.game-type{
    height: 55vh;
}
.game-type-row-one{
    grid-template-columns: repeat(2, 200px);
    flex-wrap: wrap;
    gap: 10px;
}
.game-type-row-two{
    grid-template-columns: repeat(2, 200px); 
}
.grid-container {
    display: flex;
    border-radius: 50px;
    align-items: center;
    gap: 0.2rem;
    padding: 0.3rem 0.1rem 0.3rem 0.5rem;
    border: none;
    background: #FFF;
}

/* footer section starts here */
footer{
    height: 110vh;
    padding: 70px;
}
.footer-about{
    flex-wrap: wrap;
}
.footer-social{
    flex-wrap: wrap;
}
.footer-info{
    flex-wrap: wrap;
}

}