@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.text-primary {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.text-blue-grey {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

/* Navbar Starts Here */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-and-name {
    display: flex;
    align-items: center;
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.primary-color {
    color: #FF42A5;
}

.menu {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

.follow-link {
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 24px;
    gap: 1rem;

}

.follow-link img {
    width: 1.5rem;
}

/* Banner Starts here */

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../images/Group\ 14.png');
    background-position: left;
    background-repeat: no-repeat;
}

.banner-description {}

.banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-name {
    font-size: 95px;
    font-weight: 800;

}

.banner ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.6rem 0;
}

.banner li {
    list-style: none;
    display: flex;
    gap: 0.8rem;
}

.banner li img {
    width: 20px;
}

.buttons {
    display: flex;
    gap: 1.6rem;
}

.btn-primary {
    padding: 21px 40px;
    border-radius: 48px;
    background: #FF42A5;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-two {
    background-color: #4EC5F7;
    cursor: pointer;
}

/*About gamer community starts here */
.gamer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding-bottom: 3.3rem;
}

.gamer-about {
    text-align: right;
}

.gamer-about>h2 {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.gamer-about-description {
    line-height: 150%;
    padding-bottom: 2rem;
}

.purpose {
    padding-top: 1.5rem;
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 45px;
}

.slogan {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

/* game video section starts here */
.game-video-description {
    text-align: center;
    padding: 7.5rem 0 3rem;
}
.game-video-description h1{
    color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 700;
}
.game-video-description p{
    color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.image-cards {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.card>p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 7.5rem;
}

.card {
    position: relative;
}

.play-button {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: none;
    color: black;
    font-size: 30px;
    text-align: center;
    opacity: 1;
    background-color: white;
    border-radius: 50%;
    padding: 8px 5px 8px 10px;

}

.play-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #f80482;
    font-weight: 500;
    display: none;
}

.card:hover .play-button {
    display: block;

}

.card:hover .play-text {
    display: block;
}

.card:hover img {
    filter: brightness(50%);
    cursor: pointer;
}

/* play-now section starts here */
.play-now {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    margin-bottom: 20vh;
}

.img-one {
    position: relative;
}

.img-one>img {

    width: 40rem;

}

.img-two img {
    position: absolute;
    top: 60%;
    left: 80%;

}

.play-now-text>h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}

.play-now-text>p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* game-type section starts here */

.game-type {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 37vh;
}

.game-type-row-one {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 150px);
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 6%;
}

.game-type-row-two {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 7.5rem;

}

.grid-container {
    display: flex;
    border-radius: 50px;
    align-items: center;
    gap: 0.6rem;
    padding: 0.3rem 1px 0.3rem 0.5rem;
    border: none;
    background: #FFF;
}

.grid-container:hover {
    border: 2px #FF42A5 solid;
    cursor: pointer;
}

.grid-container img {
    width: 2rem;
}

.grid-container>h2 {
    color: #0B0223;
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 10px;
}

.grid-container:hover>h2 {
    color: #FF42A5;
}

/* footer section starts here */
footer {
    background-color: #0B0223;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    padding-top: 7.5rem;
    width: 100%;
}

.footer-logo-and-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;

}

.footer-logo-name {
    color: #FFF;
    font-size: 2.8rem;
}
.footer-about{
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.footer-about a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.12rem;
    font-weight: 600;
    
}
.footer-social{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding-bottom: 4rem;
}
.footer-info{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 1.8rem;
}
.footer-info a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
}

footer p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}